* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jomolhari&display=swap");

h1 {
  font-family: "Jomolhari", serif;
}

body {
  overflow: hidden;
}

/* --------------------------------------- FORSIDE -----------------------------------------------*/

#button-con {
  position: absolute;
  top: 5px;
  left: 80vw;
}

button {
  background-color: transparent;
  border: solid 1px #47525e;
  padding: 10px;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: #47525e;
}

button:hover {
  box-shadow: 3px 7px lightgray;
  cursor: pointer;
}

#tilmed {
  background-color: #008bd6;
  border: solid 1px #008bd6;
  color: #fff;
}

img {
  width: 100vw;
}

#splash {
  position: absolute;
  top: 45vh;
  left: 25vw;
  font-size: 4em;
}
/* -------------------------------------- MODAL VINDURE FORSIDE ----------------------------------------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #e5e9f2;
  background-color: rgba(229, 233, 242, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
}

#close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close1:hover,
#close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close2:hover,
#close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* -------------------------------------- TILMELD & LOGIN FORSIDE ----------------------------------------------------*/

#frmLsignup {
  display: grid;
  align-content: center;
  padding: 45px;
  color: #8190a5;
  margin: 0 15% 0;
}

#frmLogin {
  display: grid;
  align-content: center;
  padding: 45px 100px 45px;

  color: #8190a5;
}

input {
  margin: 5px;
  border: #8190a5 solid 2px;
  color: #8190a5;
  padding: 10px;
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
}

#btnLogin {
  background-color: #47525e;
  color: #fff;
  box-shadow: none;
  font-size: 1.2em;
}

#signup {
  background-color: #47525e;
  color: #fff;
  box-shadow: none;
  font-size: 1.2em;
}

#h1from {
  color: #47525e;
  font-family: "Jomolhari", serif;
  font-size: 3em;
}
.fromtext {
  color: #8492a6;
  font-family: "Jomolhari", serif;
}

/* ---------------------------------------------- Tilmeldt -------------------------------------------*/

#h1tilmeldt {
  text-align: center;
  color: #47525e;
  font-family: "Jomolhari", serif;
  font-size: 3em;
}

svg {
  margin-left: 25%;
  margin-top: 10%;
  width: 50vw;
  height: 50vh;
}
